body{
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 20px; 
    background-color: brown;
}

